<div class="ui page grid">
    <div class="column">
         <div class="ui logo">
            Logo 
         </div>
    </div>
</div>

<div class="ui center aligned page grid">
    <div class="column">
        <div class="ui search">
            <div class="ui large icon input">
                <input class="prompt" type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
        </div>
    </div>
</div>

<div class="ui page grid">
 
    {{#movies}}
    <div class="five wide column">
        <div class="ui cards">
            <div class="card">
                <div class="image">
                    <img src="{{images.small}}" alt="">
                </div>
                <div class="content">
                    <div class="header">
                        电影名
                    </div>
                    <div class="meta">分类</div>
                    <div class="description">
                        简略描述
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/movies}}

</div>
