<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/lib/semantic-ui/dist/semantic">
  </head>
  <body>
    {{{ body }}}
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/semantic-ui/dist/semantic.min.js"></script>
    <script src="javascripts/aphro.js"></script>
  </body>
</html>
